
/****************************************
GENERAL STYLES
****************************************/  
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ACD6EC;
  position: relative;
  text-align: center;
  margin: auto;
  color: #232753;
  font-family: 'Cabin Sketch', cursive ;
}

h2 {
  margin-top: 4em;
  margin-bottom: 2em;
}

footer,
#header-container {
  padding: 40px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #232753;
  font-size: 1.5em;
  color: #5db948;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, .5);
}

footer {
  margin-bottom: 0;
  
}



#main-header {

}

#container {
  width: 80%;
  margin: 0 auto 5%;
}

input,
button {
  padding: 10px;
  background-color: #ffb20f;
  border: none;
  border-radius: 4px;
  color: #fff;
  font: 1em 'Cabin Sketch';
}

input {
  margin-top: 5px;
}


button:active,
input:active {
  background-color: #5db948;
  /* color: #972d07; */
}


/****************************************
CARD GALLERY
****************************************/  

.card-gallery {
  height: 80%;
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card img {
width: 100px;
height: 100px;
border-radius: 5%;
box-shadow: 0 0 6px 2px rgba(0, 0, 0, .5);
}

.card {
  margin: 5px;
}
.card img:hover {
  border: 2px solid rgba(255, 255, 255, .2)
}



/****************************************
MODAL 
****************************************/  
#modal {
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
	background-color: #f1f6bc;
	height: 300px;
	width: 50%;
	border-radius: 2%;
	margin: 150px auto;
	box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.6);
  padding: 3%;
}

#modal-image {
 border-radius: 50%;
 width: 30%;
 align-self: center;
}

#name {
  align-self: center;
}

#close {
  align-self: flex-end;
}


/****************************************
SEASONS EPISODE LISTS
****************************************/
#episodes-s01 {
  display: none;
}
#episodes-s02 {
  display: none;
}
#episodes-s03 {
  display: none;
}
#episodes-s04 {
  display: none;
}  

#seasons {
  margin-top: 1.5em;
}

#seasons p {
  text-align: left;
  padding: 5px;

}


/****************************************
MEDIA QUERIES
****************************************/

@media screen and (min-width: 550px) {
  .card img {
    width: 150px;
    height: 150px;
  }
}


@media screen and (min-width: 768px) {
body {
  font-size: 1.5em;
}

  .card-gallery {
    /* height: 400px; */
  }
  #seasons p {
    text-align: center;
  }
}


@media screen and (min-width: 1024px) {
  #modal-content {
    max-width: 30%;
  }
  .card img {
    width: 200px;
    height: 200px;
  }
  .card-gallery {
    /* height: 500px; */
  }
}
