* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ACD6EC;
  position: relative;
  text-align: center;
  margin: auto;
}

#header-container {
  width: 100%;
  padding: 3%;
  margin-bottom: 50px;
  text-align: center;
  background-color: #232753;
  font-size: 1.5em;
  color: #37C688;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, .5);
}

#main-header {

}

#container {
  width: 80%;
  margin: 0 auto;
  /* display: flex;
  flex-flow: row wrap; */
}

.card-gallery {
  height: 60%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card img {
width: 100px;
height: 100px;
border-radius: 5%;
box-shadow: 0 0 6px 2px rgba(0, 0, 0, .5);
}

.card {
  margin: 5px;
}

main {
  /* position: relative; */
}

/* #modal-container {
  width: 90%;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  } */

#modal {
display: none;
background-color: white;
height: 400px;
width: 60%;
z-index: 1;
position: absolute;
left: 15%;
top: 25%;
border-radius: 3%;
padding: 5%;
margin: 20% auto;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

#modal-image {
 border-radius: 50%;
 width: 30%;
 padding: 5%;
}
