body {
  background-color: lightcyan;
}

#container {
  width: 80%;
  margin: 0 auto;
}

main {
  position: relative;
}

#modal {
/* background-color: ; */
margin: auto;
height: 50%;
width: 50%;
z-index: 1;
}